In [1]:
# Series (collection of values)
# DataFrame (collection of Series objects)

# DataFrame is made by serveral Series (rows/columns)

# A Series object can hold many data types, including
# float - for representing float values
# int - for representing integer values
# bool - for representing Boolean values
# datetime64[ns] - for representing date & time, without time-zone
# datetime64[ns, tz] - for representing date & time, with time-zone
# timedelta[ns] - for representing differences in dates & times (seconds, minutes, etc.)
# category - for representing categorical values
# object - for representing String values

In [2]:
import pandas as pd
import numpy as np

fandango = pd.read_csv('fandango_score_comparison.csv')
print(fandango.info())

# FILM - film name
# RottenTomatoes - Rotten Tomatoes critics average score
# RottenTomatoes_User - Rotten Tomatoes user average score
# RT_norm - Rotten Tomatoes critics average score (normalized to a 0 to 5 point system)
# RT_user_norm - Rotten Tomatoes user average score (normalized to a 0 to 5 point system)
# Metacritic - Metacritic critics average score
# Metacritic_User - Metacritic user average score

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146 entries, 0 to 145
Data columns (total 22 columns):
FILM                          146 non-null object
RottenTomatoes                146 non-null int64
RottenTomatoes_User           146 non-null int64
Metacritic                    146 non-null int64
Metacritic_User               146 non-null float64
IMDB                          146 non-null float64
Fandango_Stars                146 non-null float64
Fandango_Ratingvalue          146 non-null float64
RT_norm                       146 non-null float64
RT_user_norm                  146 non-null float64
Metacritic_norm               146 non-null float64
Metacritic_user_nom           146 non-null float64
IMDB_norm                     146 non-null float64
RT_norm_round                 146 non-null float64
RT_user_norm_round            146 non-null float64
Metacritic_norm_round         146 non-null float64
Metacritic_user_norm_round    146 non-null float64
IMDB_norm_round               146 non-null float64
Metacritic_user_vote_count    146 non-null int64
IMDB_user_vote_count          146 non-null int64
Fandango_votes                146 non-null int64
Fandango_Difference           146 non-null float64
dtypes: float64(15), int64(6), object(1)
memory usage: 25.2+ KB
None

In [3]:
series_film = fandango['FILM']
print(type(series_film))
print(series_film[0:10])
series_rt = fandango['RottenTomatoes']
print (series_rt[0:10])

<class 'pandas.core.series.Series'>
0    Avengers: Age of Ultron (2015)
1                 Cinderella (2015)
2                    Ant-Man (2015)
3            Do You Believe? (2015)
4     Hot Tub Time Machine 2 (2015)
5          The Water Diviner (2015)
6             Irrational Man (2015)
7                   Top Five (2014)
8      Shaun the Sheep Movie (2015)
9               Love & Mercy (2015)
Name: FILM, dtype: object
0    74
1    85
2    80
3    18
4    14
5    63
6    42
7    86
8    99
9    89
Name: RottenTomatoes, dtype: int64

In [4]:
from pandas import Series

series_film = fandango['FILM']
film_names = series_film.values
# print(film_name[0:5])   

series_rt = fandango['RottenTomatoes']
rt_scores = series_rt.values
# print(rt_scores)

# set film name as a index
series_custom = Series(rt_scores , index=film_names)
print(series_custom[0:10])
print('-----------------------------------')
# using the film name to access the data
print(series_custom[['Minions (2015)', 'Leviathan (2014)']])

Avengers: Age of Ultron (2015)    74
Cinderella (2015)                 85
Ant-Man (2015)                    80
Do You Believe? (2015)            18
Hot Tub Time Machine 2 (2015)     14
The Water Diviner (2015)          63
Irrational Man (2015)             42
Top Five (2014)                   86
Shaun the Sheep Movie (2015)      99
Love & Mercy (2015)               89
dtype: int64
-----------------------------------
Minions (2015)      54
Leviathan (2014)    99
dtype: int64

In [5]:
# sorted by index
# 1. sort the indexes
# 2. using sorted index to reindex the whole Series
original_index = series_custom.index.tolist()
sorted_index = sorted(original_index)
sorted_by_index = series_custom.reindex(sorted_index)
print(sorted_by_index[0:10])
print('--------------------------------------')
print(sorted_by_index.shape)
print(type(sorted_by_index))

'71 (2015)                    97
5 Flights Up (2015)           52
A Little Chaos (2015)         40
A Most Violent Year (2014)    90
About Elly (2015)             97
Aloha (2015)                  19
American Sniper (2015)        72
American Ultra (2015)         46
Amy (2015)                    97
Annie (2014)                  27
dtype: int64
--------------------------------------
(146,)
<class 'pandas.core.series.Series'>

In [6]:
# sort index and values
sc2 = series_custom.sort_index()
print(sc2[0:10])
print('--------------------------------------')
sc3 = series_custom.sort_values(ascending=False)
print(sc3[0:10])

'71 (2015)                    97
5 Flights Up (2015)           52
A Little Chaos (2015)         40
A Most Violent Year (2014)    90
About Elly (2015)             97
Aloha (2015)                  19
American Sniper (2015)        72
American Ultra (2015)         46
Amy (2015)                    97
Annie (2014)                  27
dtype: int64
--------------------------------------
Gett: The Trial of Viviane Amsalem (2015)    100
Seymour: An Introduction (2015)              100
Selma (2014)                                  99
Phoenix (2015)                                99
Song of the Sea (2014)                        99
Leviathan (2014)                              99
Shaun the Sheep Movie (2015)                  99
Timbuktu (2015)                               99
Mr. Turner (2014)                             98
Paddington (2015)                             98
dtype: int64

In [7]:
# numpy operations
print(series_custom[0:10])
print('--------------------------------------')
print(np.add(series_custom,series_custom)[0:10])
print('--------------------------------------')
print(np.max(series_custom))

Avengers: Age of Ultron (2015)    74
Cinderella (2015)                 85
Ant-Man (2015)                    80
Do You Believe? (2015)            18
Hot Tub Time Machine 2 (2015)     14
The Water Diviner (2015)          63
Irrational Man (2015)             42
Top Five (2014)                   86
Shaun the Sheep Movie (2015)      99
Love & Mercy (2015)               89
dtype: int64
--------------------------------------
Avengers: Age of Ultron (2015)    148
Cinderella (2015)                 170
Ant-Man (2015)                    160
Do You Believe? (2015)             36
Hot Tub Time Machine 2 (2015)      28
The Water Diviner (2015)          126
Irrational Man (2015)              84
Top Five (2014)                   172
Shaun the Sheep Movie (2015)      198
Love & Mercy (2015)               178
dtype: int64
--------------------------------------
100

In [8]:
# series_greater_than_50 = series_custom[series_custom > 50]
# print(series_greater_than_50)

series_between_50_60 = series_custom[(series_custom > 50) & (series_custom <= 60)]
print(series_between_50_60)

Unbroken (2014)                  51
Southpaw (2015)                  59
Insidious: Chapter 3 (2015)      59
Run All Night (2015)             60
5 Flights Up (2015)              52
Saint Laurent (2015)             51
Maps to the Stars (2015)         60
The Age of Adaline (2015)        54
Unfriended (2015)                60
Paper Towns (2015)               55
Maggie (2015)                    54
Focus (2015)                     57
Escobar: Paradise Lost (2015)    52
Woman in Gold (2015)             52
The Last Five Years (2015)       60
Minions (2015)                   54
Spare Parts (2015)               52
dtype: int64

In [9]:
# Seriess operation
rt_critics = Series(fandango['RottenTomatoes'].values, index=fandango['FILM'])
rt_users = Series(fandango['RottenTomatoes_User'].values, index=fandango['FILM'])
rt_mean = (rt_critics + rt_users)/2
print(rt_mean[0:10])

FILM
Avengers: Age of Ultron (2015)    80.0
Cinderella (2015)                 82.5
Ant-Man (2015)                    85.0
Do You Believe? (2015)            51.0
Hot Tub Time Machine 2 (2015)     21.0
The Water Diviner (2015)          62.5
Irrational Man (2015)             47.5
Top Five (2014)                   75.0
Shaun the Sheep Movie (2015)      90.5
Love & Mercy (2015)               88.0
dtype: float64