In [64]:
import pandas as pd
import numpy as np
import io

df = pd.read_csv('wine_data.csv',usecols = range(3))
df.columns = ['Alcohol','Malic acid','Beer']
df.head()

   Alcohol  Malic acid  Beer
0    14.23        1.71  2.43
1    13.20        1.78  2.14
2    13.16        2.36  2.67
3    14.37        1.95  2.50
4    13.24        2.59  2.87

In [68]:
from sklearn import preprocessing

std_scale = preprocessing.StandardScaler().fit(df)
df_std = std_scale.transform(df)