In [1]:
import pandas as pd
import numpy as np

titanic_survival = pd.read_csv("titanic_train.csv")
print(titanic_survival.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB
None

In [2]:
# is_null
age = titanic_survival["Age"]
print(age.loc[0:10])

print('----------------------')
age_is_null = pd.isnull(age)
print (age_is_null.loc[0:10])  # True / False

print('----------------------')
age_null_true = age[age_is_null]
print( age_null_true.loc[0:10]) #print NaN 

print('----------------------')
age_null_count = len(age_null_true)
print(age_null_count)

0     22.0
1     38.0
2     26.0
3     35.0
4     35.0
5      NaN
6     54.0
7      2.0
8     27.0
9     14.0
10     4.0
Name: Age, dtype: float64
----------------------
0     False
1     False
2     False
3     False
4     False
5      True
6     False
7     False
8     False
9     False
10    False
Name: Age, dtype: bool
----------------------
5   NaN
Name: Age, dtype: float64
----------------------
177

In [3]:
# The result of this is that mean_age would be nan. need to be fixed
# ignored all the NaN value
mean_age = sum(titanic_survival["Age"]) / len(titanic_survival["Age"])
print (mean_age) #NaN

#filter out the missing value

age_is_null = titanic_survival["Age"].isnull()
filted = titanic_survival['Age'][age_is_null == False]
mean = sum(filted)/len(filted)
print(mean)

nan
29.69911764705882

In [4]:
# more easy way to cal the mean value
easy_mean_age = titanic_survival['Age'].mean()
easy_mean_age

29.69911764705882

In [5]:
#mean fare for passager class 'Pclass'
#Calculate the mean price for each PClass
passenger_classes = [1, 2, 3]
classes_fare = {}
for pc in passenger_classes:
    pclass_rows = titanic_survival[titanic_survival['Pclass']==pc]
    pclass_fares = pclass_rows['Fare'] #get the price in particular row
    fare_for_class = pclass_fares.mean()
    classes_fare[pc]= fare_for_class

print(classes_fare)

{1: 84.15468749999992, 2: 20.66218315217391, 3: 13.675550101832997}

In [6]:
# more easy way to Calculate the mean price for each PClass
# pivot_table
passenger_Fares = titanic_survival.pivot_table(index="Pclass", values="Fare", aggfunc=np.mean)
print (passenger_Fares)

print('-------------------')
# average survival passagers & age in each Pclass,aggfunc default = np.mean
passenger_survival = titanic_survival.pivot_table(index="Pclass", values=["Survived",'Age'])
print (passenger_survival)

             Fare
Pclass
1       84.154687
2       20.662183
3       13.675550
-------------------
              Age  Survived
Pclass
1       38.233441  0.629630
2       29.877630  0.472826
3       25.140620  0.242363

In [7]:
# drop NaN value
#specifying axis=1 or axis='columns' will drop any columns that have null values
drop_na_columns = titanic_survival.dropna(axis=1)
new_titanic_survival = titanic_survival.dropna(axis=0,subset=["Age", "Sex"])

print(new_titanic_survival[0:10])

    PassengerId  Survived  Pclass  \
0             1         0       3
1             2         1       1
2             3         1       3
3             4         1       1
4             5         0       3
6             7         0       1
7             8         0       3
8             9         1       3
9            10         1       2
10           11         1       3

                                                 Name     Sex   Age  SibSp  \
0                             Braund, Mr. Owen Harris    male  22.0      1
1   Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                              Heikkinen, Miss. Laina  female  26.0      0
3        Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                            Allen, Mr. William Henry    male  35.0      0
6                             McCarthy, Mr. Timothy J    male  54.0      0
7                      Palsson, Master. Gosta Leonard    male   2.0      3
8   Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0
9                 Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1
10                    Sandstrom, Miss. Marguerite Rut  female   4.0      1

    Parch            Ticket     Fare Cabin Embarked
0       0         A/5 21171   7.2500   NaN        S
1       0          PC 17599  71.2833   C85        C
2       0  STON/O2. 3101282   7.9250   NaN        S
3       0            113803  53.1000  C123        S
4       0            373450   8.0500   NaN        S
6       0             17463  51.8625   E46        S
7       1            349909  21.0750   NaN        S
8       2            347742  11.1333   NaN        S
9       0            237736  30.0708   NaN        C
10      1           PP 9549  16.7000    G6        S

In [8]:
# Loacation to a specific value, dp.loc[row,column]
row_index_83_age = titanic_survival.loc[83,"Age"]
row_index_1000_pclass = titanic_survival.loc[766,"Pclass"]
print (row_index_83_age)
print (row_index_1000_pclass)

28.0
1

In [9]:
# 19